@import url("https://use.typekit.net/fnr6qnm.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

#gradient-canvas {
  --gradient-color-1: #fe6860;
  --gradient-color-2: #fe8a71;
  --gradient-color-3: #d9bbae;
  --gradient-color-4: #f3c9bf;
}
